-# To edit the mailto email target, edit the content below in-between the ('')...

- email_recipient = URI.encode_www_form_component('commit@gitlab.com').gsub('+', '%20')
- email_subject = URI.encode_www_form_component('Sponsorship for Commit events').gsub('+', '%20')
- email_body = URI.encode_www_form_component('I would like more information about sponsorship opportunities.').gsub('+', '%20')

- email_link = 'mailto:'+email_recipient+'?subject='+email_subject+'&body='+email_body

- if current_page.data.expiration_date
  - expirationDate = Time.parse(current_page.data.expiration_date)
- else
  - expirationDate = Time.parse("2010-01-01")
- currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")


.container.slp-container.text-center
  .row.u-margin-top-xl.u-margin-bottom-xl
    .col-md-12
      %h1 Become a sponsor
      %h4.u-margin-top-sm{style: "font-weight: 300;"}
        Interested in sponsoring Commit? We’d love to connect with you to discuss the benefits of partnering with GitLab and how you can engage with a vibrant community of high-performing software professionals. 
        %a{href: email_link, style: "text-decoration: underline; font-weight: 600;"} Email the Commit team 
        to receive a sponsorship prospectus.

